.main-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sub-container {
  padding: 30px;
}

.arrow-button-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 5px;
  left: 25px;
}

ul {
  display: flex;
  flex-direction: column;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-container {
  margin: 1vh auto 1vh auto;
  width: 90%;
}

.page-title-black-large {
  margin: 7vh 0 5vh;
}
