.add-button {
  width: 60px;
  height: 54px;
  font-size: 36px;
  color: #5d0096;
  background-color: rgba(93, 0, 150, 0.15);
  border: 1px solid #5d0096;
  border-radius: 10px;
}

.disabled-button {
  width: 60px;
  height: 54px;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(189, 189, 189, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
