.card-container {
  padding-right: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 20px;
  width: 368px;
  height: 52px;
  left: 23px;
  top: 248px;
}

.drag-icon {
  margin-left: 150px;
}

.card-title {
  padding-left: 50px;
}

.primary-color {
  background: linear-gradient(90deg, #9400d3 0%, #4b0082 100%);
}

.secondary-color {
  background: rgba(0, 0, 0, 0.5);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  margin-left: -10px;
}

.drag-hidden {
  visibility: hidden;
}

.position {
  text-align: center;
  margin-left: 80px;
}
