.card-container {
  position: relative;
  display: inline-block;
  width: 50%;
}

.card {
  display: inline-block;
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  width: 95%;
}

.headerContainer {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-left: 20px;
}
