* {
  box-sizing: border-box;
}

.sign-in-div {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/images/pages-background/Login.svg);
}

.welcome-background {
  position: relative;
}

.welcome-slogan-container {
  width: 70vw;
}

.welcome-slogan {
  position: absolute;
  width: 80vw;
  height: 66px;
  left: 65px;
  top: 10px;
  font-size: 4em;
  line-height: 77px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.sign-in-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  position: absolute;
  width: 100vw;
  bottom: 200px;
}
