@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.sign-in-container {
  position: relative;
  height: 100vh;
  background: url('../../assets/images/pages-background/Login.svg') no-repeat;
  max-width: 414px;
}

.welcome-slogan-container {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  max-width: 18rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  text-transform: capitalize;
  line-height: 4.8rem;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.sign-in-buttons-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2vh;
  top: 35rem;
}
