* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

.Board-container {
  position: relative;
  height: 739px;
  max-width: 414px;
}

.Header-component {
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  margin-top: -80px;
}

.option-list li {
  list-style-type: none;
  width: 120px;
}

.option-list {
  padding-left: 10px;
}

.arrow-button-white {
  margin-top: 50px;
}

.dropdown-button {
  margin-top: 60px;
}

.options-container .dark {
  margin-top: 61px;
  margin-right: -20px;
}

.title,
.Input-component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 20px;
}

.title {
  width: 90%;
}

.Input-component {
  width: 88%;
  margin-left: 20px;
  height: 54px;
}

.add-button {
  cursor: pointer;
  margin-left: 10%;
}

.CandidateCard-component {
  position: relative;
}

.Result button {
  float: right;
  margin-right: 25px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  color: #8c8c8c;
  background-color: #c4c4c4;
}

.errorMessageContainer {
  color: red;
  margin-left: 20px;
}

.successMessageContainer {
  color: green;
  margin-left: 20px;
}
