* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

.Board-container {
  position: relative;
  height: 739px;
  max-width: 414px;
}

.Header-component {
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.header-component-image {
  width: 100%;
  height: 20%;
  object-fit: cover;
}

.option-list li {
  list-style-type: none;
  width: 120px;
}

.option-list {
  padding-left: 10px;
}

.arrow-button-white {
  margin-top: -20px;
}

.dropdown-button {
  margin-top: -12px;
}

.options-container .dark {
  margin-top: -10px;
  margin-right: -20px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 20px;
  width: 90%;
}

.CandidateCard-component {
  position: relative;
}

.Result button {
  float: right;
  margin-right: 25px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  color: #8c8c8c;
  background-color: #c4c4c4;
}
