.headerComponent-container {
  position: relative;
  width: 100%;
}

.headerComponent-image {
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 25em;
}

.headerComponent-main {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.headerComponent-title {
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.headerComponent-children {
  display: flex;
  justify-content: flex-end;
}
