.board-container {
  background:
    url('../../assets/images/pages-background/create-board.svg')
    no-repeat;
  max-width: 414px;
  height: 775px;
}

.arrow-button-black {
  padding-top: 20px;
}

.page-title-black-large {
  margin: 25px 25px 10px;
  padding-top: 40px;
}

label {
  display: block;
  margin-left: 40px;
  padding: 20px 10px 10px;
}

.input-name-container {
  width: 330px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.drop-zone {
  margin-top: 40px;
  margin-left: 35px;
  margin-bottom: 40px;
  width: 325px;
}

.generic-button.medium-button {
  margin-left: 30px;
}

.button-primary.active-button {
  margin: 10px 30px;
}
