* {
  box-sizing: border-box;
}

.board-header-option-link {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.board-header-option-list {
  padding-left: 10px;
  width: 130px;
}
