.Input-component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  margin-left: 10px;
  width: 94%;
}

.add-button {
  cursor: pointer;
  margin-left: 7%;
}

.Input-component-dark {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 20px;
  width: 88%;
}
