.black-button {
  font-size: 35px;
  padding-left: 30px;
  background-color: transparent;
  border: none;
}

.white-button {
  font-size: 35px;
  padding-left: 30px;
  background-color: transparent;
  border: none;
  color: white;
}
