.arrow-button-black {
  font-size: 35px;
  padding-left: 30px;
  background-color: transparent;
  border: none;
}

.arrow-button-white {
  font-size: 35px;
  padding-left: 30px;
  background-color: transparent;
  border: none;
  color: white;
}
