.card-container {
  vertical-align: middle;
  padding: 15px;
  width: 368px;
  height: 51px;
  left: 20px;
  top: 299px;
  background: linear-gradient(90deg, #9400d3 0%, #4b0082 100%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

h4 {
  color: white;
}

ul {
  list-style-type: none;
}
