@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
  --purple: #5d0096;
}

/* shared/default style attributes */

.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  height: 53px;
  border-radius: 50px;
  border: none;
}

/* button size */

.large {
  width: 328px;
}

.medium {
  width: 155px;
}

.small {
  width: 115px;
  height: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* button color */

.button-white {
  background: #e5e5e5;
}

.button-gray {
  background: rgba(196, 196, 196, 0.5);
}

.button-purple {
  background: var(--purple);
}

.button-purple-gradient {
  background: linear-gradient(90deg, #9400d3 0%, #4b0082 100%);
}

.button-turquoise-gradient,
.button-turquoise {
  background: linear-gradient(90deg, #72c6ef 0%, #004e8f 100%);
}

/* button border */

.border-none {
  border: none;
}

.border-black {
  border: 1px solid #000;
}

.border-purple {
  border: 2px solid var(--purple);
}

.border-purple-gradient {
  border: 3px solid;
  border-image-source: linear-gradient(270deg, #9400d3 0%, #4b0082 100%);
}

/* button label color */

.text-white {
  color: #fff;
}

.text-gray {
  color: rgba(0, 0, 0, 0.5);
}

.text-black {
  color: #000;
}

.text-purple {
  color: var(--purple);
}
