@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
  --purple: #5d0096;
  --white: #fff;
  --dark-gray: #8c8c8c;
  --light-gray: #c4c4c4;
}

/* shared/default style attributes */

.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  height: 53px;
  border-radius: 50px;
  border: none;
}

/* SIZE */

.button.small {
  width: 106px;
  height: 39px;
  font-size: 16px;
  line-height: 19px;
  padding: 16px, 133px, 16px, 133px;
}

.button.medium {
  width: 155px;
}

.button.large {
  width: 328px;
}

/* PRIMARY */

.primary.active {
  background: linear-gradient(90deg, #9400d3 0%, #4b0082 100%);
  color: var(--white);
}

.primary.disabled {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

/* SECONDARY */

.secondary.active {
  border-radius: 50px;
  border: 3px solid transparent;
  background: linear-gradient(270deg, #9400d3 0%, #4b0082 100%) border-box;
  -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  color: var(--purple);
}

.secondary.disabled {
  border: 3px solid var(--dark-gray);
  background-color: transparent;
  color: var(--dark-gray);
}
