.dropzone-component {
  text-align: center;
  border-radius: 10px;
  padding: 60px;
  border: 2px dashed #000;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
}

.dropzone-component-thumbs {
  font-size: 20px;
}

.dropzone-component:hover {
  border: 2px solid #5d0096;
  color: #5d0096;
}

.dropzone-component:hover svg {
  fill: #5d0096;
}
