.enabled {
  height: 45px;
  text-align: center;
  color: #5d0096;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  border-bottom: 1px solid #5d0096;
  width: 50%;
  background-color: #fff;
}

.enabled:disabled {
  color: #d2d2d2;
  border-bottom: 1px solid #f0f0f0;
}
