.board-container {
  display: inline-block;
  position: fixed;
  width: 50%;
  height: 100%;
}

.add-new-board {
  background-color: lightgray;
  width: 45%;
  height: 500px;
  margin: 30px;
  border-radius: 20px;
  position: relative;
}

.create-new-board-title {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.add-new-button {
  top: 40%;
  left: 45%;
  position: relative;
}

.existing-boards {
  width: 40%;
  margin: 10px;
}
