* {
  box-sizing: border-box;
}

.header-container {
  position: relative;
  width: 100%;
  height: 300px;
  top: 0;
}

.header {
  width: 100%;
  height: 150px;
}

.sub-header {
  padding-left: 100px;
  height: 150px;
  padding-top: 70px;
  margin-bottom: 70px;
}

.tap {
  width: 100%;
  margin-top: 250px;
}
