.profile-page-container {
  height: 100vh;
  max-width: 414px;
}

.header {
  position: relative;
  width: 100%;
  height: 25vh;
}

.profile-user {
  position: absolute;
  top: -40%;
}

.sub-header .page-title-black-large {
  font-size: 24px;
}

.users-boards-container {
  position: relative;
  width: 100%;
}

.boards-container {
  padding: 4rem 1rem;
  width: 900px;
  height: 600px;
}
