* {
  box-sizing: border-box;
}

.AddMembers-container {
  width: 414px;
  height: 739px;
  border: solid 1px grey;
}

.arrow-button {
  margin-top: 20px;
}

.add-members-title {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 5px;
}

.search-input {
  display: flex;
  display: inline-block;
  width: 100%;
  margin: 20px auto auto auto;
  text-align: center;
  padding: 5px;
}

.search-input input {
  border-radius: 50px;
  width: 70%;
  height: 47px;
  border: 1px solid gray;
  text-align: center;
}

.users-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.users-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 5px;
}

.users-list-item button {
  margin-top: 5px;
}
