* {
  box-sizing: border-box;
}

.AddMembers-container {
  width: 414px;
  height: 739px;
  border: solid 1px grey;
}

.search-input {
  display: inline-block;
  width: 252px;
}

.search-button {
  display: inline-block;
  width: 70px;
}

.users-list-container {
  display: flex;
  flex-direction: column;
}

.users-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.users-list-item button {
  margin-top: 5px;
}
