.edit-Board {
  height: 100vh;
  max-width: 414px;
  padding: 10px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  background:
    url('../../assets/images/pages-background/edit-board.svg')
    no-repeat;
}

.edit-board-arrow-button {
  margin-top: 1rem;
  margin-left: 1rem;
  padding-left: 5px;
  width: 5rem;
}

.edit-board-page-title {
  margin: 13rem 0 13rem;
}

.edit-board-main-container {
  margin-top: 4rem;
  line-height: 2rem;
  width: 23rem;
}

.edit-board-label {
  font-weight: bold;
}

.edit-board-browse {
  margin: 2rem;
  height: 8rem;
}

.edit-board-button-container {
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.generic-button.medium-button,
.arrow-button-black:hover {
  cursor: pointer;
}

.edit-board-update-message {
  text-align: center;
  color: orangered;
}
