* {
  box-sizing: border-box;
}

.delete-board-close-btn-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.9em;
  padding-top: 0.9em;
}

.greyLine {
  height: 5px;
  width: 86px;
  border: 1px solid #e5e5e5;
  background-color: rgb(228, 222, 222);
  border-radius: 5px;
  margin: auto;
}

.delete-board-container {
  width: 414px;
  height: 328px;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  padding: 1em;
  position: absolute;
  bottom: 0;
  z-index: 100;
  border: 1px solid rgb(156, 154, 154);
}

.circle-exclamation {
  border: 3px solid #5d0096;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.delete-board-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle-exclamation p {
  margin-top: 25px;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  color: #5d0096;
  display: block;
}

.delete-board-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-container p {
  color: #5d0096;
  font-weight: 600;
}
